/* --------------------------------------
   Estilos Generales del Login
   -------------------------------------- */

/* Establece el tamaño, margen, padding y color de fondo del <html> y <body> para asegurar una apariencia coherente en toda la página. */
html, body {
    height: 100%; /* Hace que la altura del <html> y <body> sea igual a la altura del viewport. */
    margin: 0; /* Elimina cualquier margen predeterminado. */
    padding: 0; /* Elimina cualquier padding predeterminado. */
    overflow: hidden; /* Oculta el desplazamiento de la página para evitar barras de scroll. */
    background-color: #080F2B; /* Establece un color de fondo oscuro para todo el documento. */
}

/* Define el estilo del contenedor de fondo que cubre toda la pantalla. */
.jfullscreen-bg {
    position: fixed; /* Posicionamiento fijo para que permanezca en su lugar al hacer scroll. */
    width: 100%; /* Ancho completo del viewport. */
    height: 100%; /* Altura completa del viewport. */
    background-attachment: fixed !important; /* La imagen de fondo no se mueve con el scroll. */
    background: url('../../assets/Background.png') no-repeat center right; /* Configuración de la imagen de fondo. */
    background-size: 150% 150%; /* Aumenta el tamaño de la imagen de fondo para que sea más grande que el contenedor. */
    background-position: right -1000px top -360px; /* Posiciona la imagen más a la derecha y hacia arriba para un corte específico. */
    background-position-x: left;
}

/* Estilos para el contenedor principal que centra el contenido de login en la pantalla. */
.jcontent {
    position: relative; /* Posición relativa dentro de su contenedor padre. */
    width: 100%; /* Ancho completo del contenedor padre. */
    height: 100%; /* Altura completa del contenedor padre. */
    display: flex; /* Utiliza Flexbox para facilitar la alineación de los elementos internos. */
    justify-content: center; /* Centra los elementos horizontalmente en el contenedor. */
    align-items: center; /* Centra los elementos verticalmente en el contenedor. */
    z-index: 10; /* Eleva el índice z para que esté por encima del fondo. */
    color: #ffffff; /* Establece el color de texto a blanco. */
}

/* Define estilos para la barra de navegación en la parte inferior. */
.pie {
    display: grid; /* Utiliza Grid para la disposición de elementos. */
    justify-content: center; /* Centra el contenido dentro de la barra de navegación. */
}

/* Estilos generales para textos dentro del formulario. */
.PassRec {
    color: #ffffff; /* Establece el color de texto a blanco para mejor contraste. */
}

/* Estilos para el título de la página de login. */
.jIngresarText {
    font-size: 500%; /* Tamaño de fuente grande para el título. */
    font-family: sans-serif; /* Familia de fuente sans-serif para un look moderno. */
}

/* Estilos para las etiquetas de los campos del formulario. */
.lab {
    font-size: 120%; /* Tamaño de fuente moderado para las etiquetas. */
    font-family: sans-serif; /* Consistencia en la familia de fuente. */
}

/* Estilos para el contenedor de los botones en el formulario. */
.botones {
    display: flex; /* Dispone los botones en una fila usando Flexbox. */
    justify-content: space-between; /* Separa los botones uniformemente. */
    width: 100%; /* Ocupa todo el ancho disponible de su contenedor. */
    padding: 0 15px; /* Añade padding a los lados para no tocar los bordes. */
}

/* Estilos comunes para ambos botones. */
.jCrear, .jIngresar {
    flex-grow: 1; /* Permite que los botones crezcan y llenen el espacio disponible. */
    margin: 0 10px; /* Añade un pequeño margen entre los botones. */
    font-size: 18px; /* Tamaño de fuente grande para facilidad de lectura. */
    font-family: sans-serif; /* Familia de fuente para consistencia visual. */
    padding: 10px 20px; /* Padding suficiente para que los botones sean fáciles de clickear. */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra suave para efecto visual. */
    transition: all 0.3s; /* Transición suave para efectos de hover y focus. */
}

/* Estilos adicionales para botones específicos y sus estados interactivos. */
.jCrear, .jIngresar {
    background-color: #141e46 !important; /* Color de fondo oscuro para ambos botones. */
    color: #ffffff !important; /* Texto en blanco para contraste. */
}
.jIngresar {
    background-image: url('../../assets/FondoBoton.png') !important; /* Imagen de fondo específica para el botón Ingresar. */
    background-position: center !important; /* Centra la imagen de fondo en el botón. */
    padding: 10px 40px !important; /* Padding adicional para este botón específico. */
    color: #080F2B !important;
}
.jCrear:hover, .jIngresar:hover {
    box-shadow: 6px 0 24px rgba(0,0,0,0.3) !important; /* Sombra más intensa al hacer hover. */
}

.jIngresar:hover {
    color: #111A3D;
}

.jCrear:focus, .jIngresar:focus {
    outline: none; /* Elimina el borde de enfoque predeterminado para un look más limpio. */
    box-shadow: 0 0 12px rgba(0,0,0,0.5); /* Sombra intensa para indicar foco. */
}

/* Estilos para controles de formulario cuando están en foco. */
.inputss {
    border-color: #ffffff; /* Color de borde blanco para consistencia. */
    color: #ffffff; /* Color de texto blanco. */
    background-color: transparent; /* Fondo transparente para un look integrado. */
    border-bottom: 1px solid #ffffff; /* Borde inferior para destacar el campo activo. */
    transition: box-shadow 0.3s ease-in-out, border-color 0.15s ease-in-out; /* Transiciones suaves para cambios visuales. */
}
.inputss:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); /* Sombra intensa para un claro indicador de campo activo. */
    border-color: transparent; /* Hace el borde transparente en foco para destacar la sombra. */
}

/* Define las clases para mostrar y ocultar el mensaje con transiciones */
.alert {
    transition: opacity 1s ease-in-out; /* Transición de 1 segundo para la opacidad */
    opacity: 1; /* Inicio con opacidad completa */
}

.alert.fade-out {
    opacity: 0; /* Opacidad final es 0, totalmente transparente */
}

.espacioPass {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
}

.space-password {
    flex-grow: 1; /* Permite que el input crezca y ocupe la mayor parte del contenedor */
    display: flex;
    align-items: center; /* Alinea los elementos internos verticalmente */
}

.password-toogle-icon {
    position: absolute;
    cursor: pointer; /* Cambia el cursor a pointer para indicar que el ícono es clickeable */
    justify-self: end;
    align-self: center;
    margin-right: 2%;
}

