:root {
    --variable-collection-c1: rgb(255, 150, 84);
    --variable-collection-c2: rgb(255, 183, 83);
    --variable-collection-fondo: rgba(20, 30, 70, 1);
    --variable-collection-fondo-exp: rgba(8, 15, 43, 1);
    --variable-collection-fondo-solicitudes: rgba(17, 26, 61, 1);
    --variable-collection-inputs: rgba(40, 55, 115, 1);
    --variable-collection-no-seleccionado: rgba(125, 125, 125, 1);
    --variable-collection-seleccionado: rgba(255, 255, 255, 1);
}

.pills{
    max-width: 140px;
    height: auto; 
    display: block; /* Asegura que la imagen se muestre como un bloque */
}

.pill-container{
    background-color: var(--variable-collection-fondo);
    height: 12rem;
    width: 19rem;
    justify-items: center;
    padding: 0rem;
}

.request-card {
    min-width: 10rem; /* Ancho máximo de la tarjeta */
    height: 24rem; 
    margin: 0.5rem; /* Añade un margen para separación */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Añade una sombra */
    overflow: hidden; /* Asegura que el contenido no desborde */
    background-color: var(--variable-collection-fondo);
    cursor: pointer;
}

.request-card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.request-card-title{  
    font-size:15px;
    cursor:pointer;
    color: var(--variable-collection-seleccionado);
}

.request-card-text{
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0.5rem;
    color: var(--variable-collection-seleccionado);
}

.card-body{
    background-color: var(--variable-collection-fondo);
    gap: 0.5rem;
}