
.requests-list {
    margin-top: 50px;
    margin-left: 100px;
}

.text-wrapper-17 {
    color: rgba(255, 255, 255, 1);
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.little-nav-bar{
    margin-left: 100px;
    margin-top: 50px;
}

.nav-link {
    color: rgba(125, 125, 125, 1); 
    margin-right: 25px;
}

.nav-underline {
    background-color: linear-gradient(90deg, rgb(255, 150, 84), rgb(255, 183, 83)) !important;
}

.nav-link .active {
    color: rgba(255, 255, 255, 1) !important;
    border-bottom: linear-gradient(90deg, rgb(255, 150, 84), rgb(255, 183, 83)) !important;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1); 
}

.nav-link:focus {
    color: rgba(255, 255, 255, 1); 
    border-bottom: linear-gradient(90deg, rgb(255, 150, 84), rgb(255, 183, 83));
}

.kgradient-title {
    margin-top: 125px;
    margin-left: 100px;
}

.kgradient-image {
    max-height: 110px;
    width: auto;
}

.kuser-image {
    margin-right: 100px;
    margin-top: -150px;
}

.request-div {
    max-width: 250px;
    background-color: rgba(20, 30, 70, 1);
}

.p-15{
    padding-left: 70px;
}

.scrollable-container {
    max-height: 660px; 
    overflow-y: auto;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    width: 100%;
}