:root {
    --variable-collection-c1: rgb(255, 150, 84);
    --variable-collection-c2: rgb(255, 183, 83);
    --variable-collection-fondo: rgba(20, 30, 70, 1);
    --variable-collection-fondo-exp: rgba(8, 15, 43, 1);
    --variable-collection-fondo-solicitudes: rgba(17, 26, 61, 1);
    --variable-collection-inputs: rgba(40, 55, 115, 1);
    --variable-collection-no-seleccionado: rgba(125, 125, 125, 1);
    --variable-collection-seleccionado: rgba(255, 255, 255, 1);
}

.requests-list {
    margin-top: 50px;
    margin-left: 100px;
}

.text-wrapper-4 {
    color: var(--variable-collection-seleccionado);
    font-family: "League Spartan-Regular", Helvetica;
    
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.little-nav-bar{
    margin-left: 100px;
    margin-top: 50px;
}

.nav-link {
    color: var(--variable-collection-no-seleccionado); 
    margin-right: 25px;
}

.nav-underline {
    background-color: linear-gradient(90deg, rgb(255, 150, 84), rgb(255, 183, 83)) !important;
}

.nav-link .active {
    color: var(--variable-collection-seleccionado) !important;
    border-bottom: linear-gradient(90deg, rgb(255, 150, 84), rgb(255, 183, 83)) !important;
}

.nav-link:hover {
    color: var(--variable-collection-seleccionado); 
}

.nav-link:focus {
    color: var(--variable-collection-seleccionado); 
    border-bottom: linear-gradient(90deg, rgb(255, 150, 84), rgb(255, 183, 83));
}

.gradient-title {
    margin-top: 125px;
    margin-left: 100px;
}

.gradient-image {
    max-height: 110px;
    width: auto;
}

.user-image {
    margin-right: 100px;
    margin-top: -150px;
}

.request-div {
    max-width: 250px;
    background-color: var(--variable-collection-fondo);
}

.p-15{
    padding-left: 70px;
}

.scrollable-container {
    max-height: 660px; 
    overflow-y: auto;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    width: 100%;
}