.ksidebar-container {
    width: 250px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 30, 70, 1); 
}

.kcontent-container {
    margin-left: 180px; /* Igual al ancho del sidebar */
    padding: 20px;
    flex-grow: 1;
}

.kcontent-container2 {
    margin-left: 250px; /* Igual al ancho del sidebar */
    padding: 20px;
    flex-grow: 2;
    justify-content: center;
    align-content: center;
}

.kgradient-title {
    margin-top: 80px;
    margin-left: 100px;
}

.kgradient-image {
    max-height: 110px;
    width: auto;
}

/* .this-request .sidebar {
    font-family: "League Spartan-Regular", Helvetica; */
    /*background: var(--Fondo, #141E46);
    left: 21px;
    top: 40px;
    width: 320px;
    position: absolute;
    padding: 35px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border-radius: 20px; 
}*/

.klabel-text {
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    border-radius: 0.2rem;
    color: rgba(255, 255, 255, 1);
    padding-left: 25px;
    width: 16rem;
}

.krequest-form {
    margin-top: 60px;
    margin-left: 100px;
}

/* Estilo para los inputs */
.kform-control.custom-input {
    background-color: rgba(40, 55, 115, 1); /* Color de fondo */
    border: 1px solid rgb(0, 15, 73); /* Color de borde */
    border-radius: 26px; /* Bordes redondeados */
    color: rgba(255, 255, 255, 1); /* Color del texto */
    padding-top: 1rem;
    padding-bottom: 15px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de la fuente */
    padding-left: 30px;
    width: 35rem;
    height: 3.5rem;
    margin-left: 1rem;
}

.kform-control.custom-input::placeholder {
    color: #aaa;
    opacity: 0.7; /* Opacidad para un look más sutil */
}

.kform-control.custom-input:focus {
    background-color: rgba(40, 55, 115, 1);
    border-color: #040b27 !important; /* Color de borde al hacer focus */
    box-shadow: 0 0 5px rgba(14, 56, 102, 0.5) !important; /* Sombra en el borde */
}

.kmb-6 {
    margin-bottom: 2rem;
}

.ksave-button{
    background: linear-gradient(to right, rgb(255, 150, 84), rgb(255, 183, 83));
    max-width: 165px;
    min-width: 165px;
    border-radius: 16px;
    max-height: 50px;
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    padding-top: 5px;
    border: none;
    color: rgba(255, 255, 255, 1) !important;
    margin-left: auto
}

.ksave-button:hover {
    transform: scale(1.05);
}

.kbutton-container {
    display: flex;
    margin-right: 0.5rem;
    justify-content: flex-end; 
    margin-top: 3rem; /* Espaciado superior */
    width: 100%;
    margin-left: 14rem;
}

.kgreen-button {
    background-color: rgb(48, 165, 25) !important;
    border-color: rgb(48, 165, 25) !important;
    margin-right: 20px;
    min-width: 40px;
    max-width: 40px;
    border-radius: 30px;
    max-height: 40px;
    min-height: 40px;
}

.kred-button {
    background-color: rgb(177, 0, 0) !important;
    border-color: rgb(177, 0, 0) !important;
    margin-right: 20px;
    margin-left: 1rem;
    min-width: 40px;
    max-width: 40px;
    border-radius: 30px;
    max-height: 40px;
    min-height: 40px;
}

.kgrey-button{
    background-color: darkgray !important;
    border-color: darkgrey !important;
    min-width: 40px;
    max-width: 40px;
    border-radius: 30px;
    max-height: 40px;
    min-height: 40px;
}

.kgreen-button:hover {
    background-color: rgb(67, 226, 36) !important;
    /* border-color: rgb(13, 58, 4) !important;
    border-width: 3px !important; */
    transform: scale(1.05);
}

.kred-button:hover {
    background-color: rgb(243, 3, 3) !important;
    /* border-color: rgb(58, 4, 4) !important;
    border-width: 3px !important; */
    transform: scale(1.05);
}

.kgrey-button:hover {
    background-color: rgb(212, 212, 212) !important;
    /* border-color: rgb(88, 88, 88) !important;
    border-width: 3px !important; */
    transform: scale(1.05);
}

.request-image {
    max-width: 35rem;
    max-height: auto;
    min-width: 20rem;
    margin-top: 2rem;
    margin-right: 3rem;
}

.image-local {
    max-width: 35rem;
    max-height: auto;
    min-width: 20rem;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-right: 3rem;
}

