:root {
    --variable-collection-c1: rgb(255, 150, 84);
    --variable-collection-c2: rgb(255, 183, 83);
    --variable-collection-fondo: rgba(20, 30, 70, 1);
    --variable-collection-fondo-exp: rgb(4, 11, 39);
    --variable-collection-fondo-solicitudes: rgba(17, 26, 61, 1);
    --variable-collection-inputs: rgba(40, 55, 115, 1);
    --variable-collection-no-seleccionado: rgba(125, 125, 125, 1);
    --variable-collection-seleccionado: rgba(255, 255, 255, 1);
}

.gradient-title {
    margin-top: 100px;
    margin-left: 100px;
}

.gradient-image {
    max-height: 90px;
    width: auto;
}

/* .this-request .sidebar {
    font-family: "League Spartan-Regular", Helvetica; */
    /*background: var(--Fondo, #141E46);
    left: 21px;
    top: 40px;
    width: 320px;
    position: absolute;
    padding: 35px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border-radius: 20px; 
}*/

.label-text {
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    border-radius: 0.5rem;
    color: var(--variable-collection-seleccionado);
    padding-left: 25px;
}

.request-form {
    margin-top: 80px;
    margin-left: 100px;
}

/* Estilo para los inputs */
.form-control.custom-input {
    background-color: var(--variable-collection-inputs); /* Color de fondo */
    border: 1px solid var(--variable-collection-inputs); /* Color de borde */
    border-radius: 26px; /* Bordes redondeados */
    color: var(--variable-collection-seleccionado); /* Color del texto */
    padding-top: 15px;
    padding-bottom: 15px; /* Espaciado interno */
    font-size: 20px; /* Tamaño de la fuente */
    padding-left: 30px;
    width: 450px;
}

/* Placeholder con estilo */
.form-control.custom-input::placeholder {
    color: #aaa;
    opacity: 0.7; /* Opacidad para un look más sutil */
}

/* Cambio de color en el enfoque */
.form-control.custom-input:focus {
    background-color: var(--variable-collection-inputs);
    border-color: var(--variable-collection-fondo-exp); /* Color de borde al hacer focus */
    box-shadow: 0 0 5px rgba(40, 144, 255, 0.5); /* Sombra en el borde */
}

.mb-6 {
    margin-bottom: 40px;
}

.save-button{
    background: linear-gradient(to right, rgb(255, 150, 84), rgb(255, 183, 83));
    width: 165px;
    border-radius: 16px;
    height: 50px;
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    padding-top: 0;
    border: none;
}

.button-container {
    display: flex;
    margin-right: 50rem;
    justify-content: center; /* Cambia a 'center' para centrar */
    margin-top: 8rem; /* Espaciado superior */
}

.green-button {
    background-color: rgb(48, 165, 25);
    border-color: rgb(48, 165, 25);
    width: 40px;
    border-radius: 30px;
    height: 40px;
    margin-right: 20px;
}

.red-button {
    background-color: rgb(177, 0, 0);
    border-color: rgb(177, 0, 0);
    width: 40px;
    border-radius: 30px;
    height: 40px;
    margin-right: 20px;
    margin-left: 28px;
}

.grey-button{
    background-color: darkgray;
    border-color: darkgrey;
    width: 40px;
    border-radius: 30px;
    height: 40px;
}

.green-button:hover {
    background-color: rgb(67, 226, 36);
    border-color: rgb(13, 58, 4);
    border-width: 3px;
    transform: scale(1.05);
}

.red-button:hover {
    background-color: rgb(243, 3, 3);
    border-color: rgb(58, 4, 4);
    border-width: 3px;
    transform: scale(1.05);
}

.grey-button:hover {
    background-color: rgb(212, 212, 212);
    border-color: rgb(88, 88, 88);
    border-width: 3px;
    transform: scale(1.05);
}

