:root {
    --variable-collection-c1: rgb(255, 150, 84);
    --variable-collection-c2: rgb(255, 183, 83);
    --variable-collection-fondo: rgba(20, 30, 70, 1);
    --variable-collection-fondo-exp: rgba(8, 15, 43, 1);
    --variable-collection-fondo-solicitudes: rgba(17, 26, 61, 1);
    --variable-collection-inputs: rgba(40, 55, 115, 1);
    --variable-collection-no-seleccionado: rgba(125, 125, 125, 1);
    --variable-collection-seleccionado: rgba(255, 255, 255, 1);
}

.info-container {
    display: flex;
    align-items: center;
    margin-top: 8rem;
}

.back-1 {
    width: 80px;
    height: auto;
    flex-shrink: 0;
    margin-left: 5rem;
    margin-right: 5rem;
}

.title-info {
    font-family: "League Spartan-Regular", Helvetica;
    color: var(--variable-collection-seleccionado);
    font-size: 6rem;
    font-weight: 300;
}

.little-info {
    font-family: "League Spartan-Regular", Helvetica;
    color: var(--variable-collection-seleccionado);
    font-size: 2rem;
    font-weight: 300;
}

.little-info-container {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-left: 16rem;
}

.custom-input {
    background-color: var(--variable-collection-inputs); 
    border: 1px solid var(--variable-collection-inputs); 
    border-radius: 26px; /* Bordes redondeados */
    color: var(--variable-collection-seleccionado); /* Color del texto */
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px; 
    padding-left: 30px;
    width: 35rem;
    height: 6rem;
    margin-left: 8rem;
}

.little-info-container2 {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 16rem;
}