
.mis-solicitudes {
    background-color: white;
    height: 100vh;  /* 100% del alto de la ventana */
    width: 100%;
}

.principal {
    height: 100%;
    width: 100%;
}

.div {
    height: 100%;
    width: 20%;
    background-color: rgba(8, 15, 43, 1);
}
.mrdiv2 {
    width: 80%;
    height: 100%;
    background-color: blue;
}

.mrdiv3 {
    height: 20%;
    background-color: rgba(8, 15, 43, 1);
    display: flex;
    align-items: end;
    justify-content: center;
}   

.mrdiv4 {
    height: 10%;
    background-color: rgba(8, 15, 43, 1);
    display: flex;
    align-items: center;
}  

.mrdiv5 {
    height: 70%;
    background-color: rgba(8, 15, 43, 1);
    gap: 10px;
    padding: 40px;
    display: flex;
justify-content: start;
    align-items: center;
}  

.mrdiv-gradient-header{
    height: 50%;
}

.mrimagen{
    width: 50%;
    height: 70%;
}

.mrestado {
    background-color: #141E46;
    height: 50%;
    width: 48%;
    font-size: 25px;
    color: white;
    left: 1%;
}

.mbtn{
    background-color: #141E46;
    color: #404d81;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.mrcuadrado{
    width: 300px;
    height: 400px;
    background-color: #111A3D;
    padding: 0;
    border-radius: 20px;
}

.mcard-img-top{
    width: 150px;
    height: 150px;
}

.row1{
    width:100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1{
    width: 90%;
    height: 50%;
    background-color: #141E46; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 20px;
}
.col2{
    width: 90%;
    height: 90%;
    background-color: #141E46; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: start;
    border-radius: 20px;
    margin-top: -5%;
}


