.nueva-solicitud {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    /* 100% del alto de la ventana */
    width: 100%;
}

.principal {
    height: 100%;
    width: 100%;
}

.div {
    height: 100%;
    width: 20%;
    background-color: rgba(8, 15, 43, 1);
}

.nrdiv2 {
    width: 80%;
    height: 100%;
    background-color: blue;
}

.nrdiv3 {
    height: 25%;
    background-color: rgba(8, 15, 43, 1);
    display: flex;
    align-items: end;
    justify-content: center;
}


.nrdiv5 {
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 30px;
    height: 75%;
    background-color: rgba(8, 15, 43, 1);
    padding: 30px;
    display: flex;
    align-items: start;
    color: white;
}

.rndiv6 {
    display: flex;
    height: 90%;
    width: 70%;
    background-color: rgba(8, 15, 43, 1);
}

.form-control {
    background-color: #141E46;
    ;
    /* Cambia este color a tu preferencia */
    color: white;
    /* Color del texto */
    border: 1px solid #141E46;
    ;
    /* Borde del input */
    border-radius: 20px;
    /* Opcional: da forma redondeada al borde */
}

.rndiv8 {
    display: flex;
    height: 80%;
    width: 30%;
    display: flex;
    align-items: left;
}

.rndiv7 {
    display: flex;
    height: 80%;
    width: 100%;
    background-color: #141E46;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.imagen-folder {
    width: 150px;
    height: 150px;


}

.div-upload {
    margin-top: 160%;
}

.input-group-column {
    display: flex;
    flex-direction: column;
    gap: 5%;
    /* Espacio entre los elementos */
}

input[type="date"] {
    color: #333;
    /* Cambia el color del texto */
    background-color: #f3f3f3;
    /* Color de fondo */
    padding: 8px;
    border-radius: 4px;
}

.form-select,
.dropdown-toggle {
    background-color: #f3f3f3;
    color: #333;
    border-radius: 4px;
    padding: 8px;
}



.nrdiv-gradient-header {
    height: 30%;
}

.nrimagen {
    width: 50%;
    height: 60%;
}

.dropdown {
    width: 50%;
}


.j-maem-form-control {
    background-color: #141E46;
    /* Initial background color */
    color: white;
    /* Text color */
    border: 1px solid rgba(104, 104, 104, 0.2);
    /* Light border */
}



.search-icon-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    margin-right: 15px;
}