.sidebar {
    background: #141E46;
    padding: 1.2rem;
    color: white;
    border-radius: 0.5rem;
    height: 95%;
    width: auto;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 5%;
}

.sidebar-title {
    font-size: 2.5rem;
}

.yendo  {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}

.sidebar-user-container {
    gap: 1rem;
}

.user_image_container img {
    width: 100%;
    max-width: 50%;
    border-radius: 50%;
}

.sidebar-user {
    font-size: 2rem;
    color: white;
}