
.back-1 {
    width: 54px;
    height: 52px;
    flex-shrink: 0;
    margin-left: 7rem;
}

.big-container {
    margin-top: 7rem;
}

.help-section {
    margin-top: 4rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 12rem;
}

.card1 {
    background: linear-gradient(to bottom, #67cbab, #0b1029 );
    width: 35rem;
    height: 40rem;
    border-radius: 1rem;
}

.card2 {
    background: linear-gradient(to bottom, #c9d06b, #0b1029);
    width: 35rem;
    height: 40rem;
    border-radius: 1rem;
}

.card-body-k {
    padding-top: 3rem;
    background: transparent;
    justify-items: center;
}

.help-text {
    font-family: "League Spartan-Regular", Helvetica;
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 300;
    
}

.help-paragraph {
    font-family: "League Spartan-Regular", Helvetica;
    color: rgba(255, 255, 255, 0.9); 
    font-size: 1.5rem; 
    font-weight: 300;
    line-height: 1.6; 
    padding: 1.5rem; 
    text-align: justify; 
}

.help-list {
    font-family: "League Spartan-Regular", Helvetica;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    padding-left: 3rem;
    padding-right: 0.5rem; /* Añadir sangría para diferenciarlo de los párrafos */
    margin-top: 1rem;
    
}

.help-list li {
    margin-bottom: 0.5rem; 
}