.i-mapr-manage-programs {
    background-color: rgba(8, 15, 43, 1);
    min-height: 100vh;
    padding-bottom: 20px;
}

.i-mapr-principal {
    min-height: 100vh;
}

.i-mapr-div2 {
    background-color: rgba(8, 15, 43, 1);
    padding: 20px;
}

.i-mapr-div3 {
    padding: 20px;
    background-color: rgba(8, 15, 43, 1);
}

.i-mapr-imagen {
    max-width: 100%;
    height: auto;
}

.i-mapr-form-control {
    background-color: rgb(27, 43, 107);
    color: white;
    border: 1px solid rgba(104, 104, 104, 0.2);
}

.i-mapr-form-control:focus {
    background-color: rgba(15, 25, 55, 1);
    color: white;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
}

.i-mapr-form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.i-mapr-gradient-link {
    background: linear-gradient(90deg, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-decoration: none; 
}

.i-mapr-gradient-link:hover {
    opacity: 0.8;
}

.i-mapr-no-coincidences {
    color: white;
}

.i-mapr-no-results {
    color: white;
}

.program-card {
    position: relative;
    min-width: 7rem; 
    max-width: 24rem;
    height: 28.5rem; 
    margin: 0.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #111A3D;
}

.program-card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.program-card:hover .k-edit-icon {
    display: block;
}

.p-card-body {
    background-color: rgba(20, 30, 70, 1);
    gap: 0.5rem;
    padding-left: 0.9rem;
    border-radius: 0.7rem; 
    padding-top: 0.8rem;
    padding-bottom: 0.1rem;

}

.p-card-title {
    font-size:1.5rem;
    color: rgba(255, 255, 255, 1);
}

.p-card-text {
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 1);
}

.lists-container {
    background-color: rgba(20, 30, 70, 1);
    height: 12rem;
    max-width: 19rem;
    justify-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem; 
}

.lists {
    max-width: 140px;
    height: auto; 
    display: block;
}

.k-edit-icon {
    position: absolute;
    display: none;
    top: 0.5rem;
    right: 0.5rem;
    width: 35px;
    height: 35px;
    cursor: pointer;
}