.i-maph-manage-pharmacies {
    background-color: rgba(8, 15, 43, 1);
    min-height: 100vh;
    padding-bottom: 20px;
}

.i-maph-principal {
    min-height: 100vh;
}

.i-maph-div2 {
    background-color: rgba(8, 15, 43, 1);
    padding: 20px;
}

.i-maph-div3 {
    padding: 20px;
    background-color: rgba(8, 15, 43, 1);
}

.i-maph-imagen {
    max-width: 100%;
    height: auto;
}

.i-maph-form-control {
    background-color: rgb(27, 43, 107); 
    color: white;
    border: 1px solid rgba(104, 104, 104, 0.2);
}

.i-maph-form-control:focus {
    background-color: rgba(15, 25, 55, 1);
    color: white;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
}

.i-maph-form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.i-maph-gradient-link {
    background: linear-gradient(90deg, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

.i-maph-modify-link {
    color: #ffffff;
    font-size: 1.5rem;
}

.i-maph-gradient-link:hover {
    opacity: 0.8;
}

.i-maph-no-coincidences {
    color: white;
}

.i-maph-no-results {
    color: white;
}

.i-maph-card{
    position: relative;
    min-width: 7rem;
    max-width: 24rem;
    height: 15rem; 
    margin: 0.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #111A3D;
}

.i-maph-card-body{
    background-color: rgba(20, 30, 70, 1);
    gap: 0.5rem;
    padding-left: 0.9rem;
    border-radius: 0.7rem; 
    padding-top: 0.8rem;
    padding-bottom: 0.1rem;
}

.i-maph-card-title{
    font-size:2rem;
    color: rgba(255, 255, 255, 1);
}

.i-maph-card-text{
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 1);
}

.i-maph-pharmacies-slider {
    display: flex;
    overflow-x: auto;
  }
  
  .i-maph-pharmacy-card {
    flex: 0 0 auto;
    width: 300px;
    margin: 10px;
  }
  
  .i-maph-pharmacies-slider::-webkit-scrollbar {
    height: 8px;
  }
  
  .i-maph-pharmacies-slider::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #0cc0df, #ffde59 50%, #ffde59) !important;
    border-radius: 10px;
  }