.i-maem-manage-elegible-medications {
    background-color: rgba(8, 15, 43, 1);
    min-height: 100vh;
    padding-bottom: 20px;
}

.i-maem-principal {
    min-height: 100vh;
}

.i-maem-div2 {
    background-color: rgba(8, 15, 43, 1);
    padding: 20px;
}

.i-maem-div3 {
    padding: 20px;
    background-color: rgba(8, 15, 43, 1);
}

.i-maem-imagen {
    max-width: 100%;
    height: auto;
}

.i-maem-form-control {
    background-color: rgb(27, 43, 107); /* Initial background color */
    color: white; /* Text color */
    border: 1px solid rgba(104, 104, 104, 0.2); /* Light border */
}

.i-maem-form-control:focus {
    background-color: rgba(15, 25, 55, 1);
    color: white;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
}

.i-maem-form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.i-maem-gradient-link {
    background: linear-gradient(90deg, #0cc0df, #ffde59); /* Adjust colors as desired */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes text transparent to show gradient */
    font-weight: bold;
    text-decoration: none; /* Removes underline */
}

.i-maem-modify-link {
    color: #ffffff;
    font-size: 1.5rem;
}

.i-maem-gradient-link:hover {
    opacity: 0.8;
}

.i-maem-no-coincidences {
    color: white;
}

/* Style for "No hay farmacias que coincidan con la búsqueda." text */
.i-maem-no-results {
    color: white;
}

.i-maem-card{
    position: relative;
    min-width: 7rem; /* Ancho máximo de la tarjeta */
    max-width: 24rem;
    height: 28.5rem; 
    margin: 0.5rem; /* Añade un margen para separación */
    border-radius: 0.7rem; /* Bordes redondeados */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Añade una sombra */
    overflow: hidden; /* Asegura que el contenido no desborde */
    background-color: #111A3D;
}

.i-maem-card-body{
    background-color: rgba(20, 30, 70, 1);
    gap: 0.5rem;
    padding-left: 0.9rem;
    border-radius: 0.7rem; 
    padding-top: 0.8rem;
    padding-bottom: 0.1rem;
}

.i-maem-card-title{
    font-size:1.5rem;
    color: rgba(255, 255, 255, 1);
}

.i-maem-card-text{
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 1);
}

.i-maem-img-container {
    background-color: rgba(20, 30, 70, 1);
    height: 12rem;
    max-width: 19rem;
    justify-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem; 
}

.i-maem-card-img {
    max-width: 140px;
    height: auto; 
    display: block;
}

.i-maem-medications-slider {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevents cards from wrapping to new lines */
  }
  
  .i-maem-medication-card {
    position: relative;
    min-width: 18rem; /* Adjust to desired width */
    max-width: 18rem; /* Consistent card width */
    height: 28.5rem; 
    margin: 0.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #111A3D;
    flex-shrink: 0; /* Prevents cards from shrinking */
  }
  
  /* Optional: Customize the scrollbar for a better appearance */
  .i-maem-medications-slider::-webkit-scrollbar {
    height: 8px; /* Change the height of the scrollbar */
  }
  
  .i-maem-medications-slider::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #0cc0df, #ffde59 50%, #ffde59) !important;
    border-radius: 10px; /* Rounded corners */
  }
  
  .i-maem-medications-slider::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
  }