.i-maph-manage-pharmacies {
    background-color: rgba(8, 15, 43, 1);
    min-height: 100vh;
    padding-bottom: 20px;
}

.i-maph-principal {
    min-height: 100vh;
}

.i-maph-div2 {
    background-color: rgba(8, 15, 43, 1);
    padding: 20px;
}

.i-maph-div3 {
    padding: 20px;
    background-color: rgba(8, 15, 43, 1);
}

.i-maph-imagen {
    max-width: 100%;
    height: auto;
}

.i-maph-form-control {
    background-color: rgb(27, 43, 107); /* Initial background color */
    color: white; /* Text color */
    border: 1px solid rgba(104, 104, 104, 0.2); /* Light border */
}

.i-maph-form-control:focus {
    background-color: rgba(15, 25, 55, 1);
    color: white;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
}

.i-maph-form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.i-maph-gradient-link {
    background: linear-gradient(90deg, #0cc0df, #ffde59); /* Adjust colors as desired */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes text transparent to show gradient */
    font-weight: bold;
    text-decoration: none; /* Removes underline */
}

.i-maph-gradient-link:hover {
    opacity: 0.8;
}
