.i-maph-manage-pharmacies {
    background-color: rgba(8, 15, 43, 1);
    min-height: 100vh;
    padding-bottom: 20px;
}

.i-maph-principal {
    min-height: 100vh;
}

.i-maph-div2 {
    background-color: rgba(8, 15, 43, 1);
    padding: 20px;
}

.i-maph-div3 {
    padding: 20px;
    background-color: rgba(8, 15, 43, 1);
}

.i-maph-imagen {
    max-width: 100%;
    height: auto;
}

.i-maph-form-control {
    background-color: rgb(27, 43, 107); /* Initial background color */
    color: white; /* Text color */
    border: 1px solid rgba(104, 104, 104, 0.2); /* Light border */
}

.i-maph-form-control:focus {
    background-color: rgba(15, 25, 55, 1);
    color: white;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
}

.i-maph-form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.i-maph-gradient-link {
    background: linear-gradient(90deg, #0cc0df, #ffde59); /* Adjust colors as desired */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes text transparent to show gradient */
    font-weight: bold;
    text-decoration: none; /* Removes underline */
}

.i-maph-modify-link {
    color: #0cc0df;
}

.i-maph-gradient-link:hover {
    opacity: 0.8;
}

/* Style for "No hay coincidencias?" text */
.i-maph-no-coincidences {
    color: white;
}

/* Style for "No hay farmacias que coincidan con la búsqueda." text */
.i-maph-no-results {
    color: white;
}

.i-maph-card{
    background-color: rgb(27, 43, 107);;
}

.i-maph-card-body{
    background-color: rgb(40, 64, 157);;
}

.i-maph-card-title{
    color: white;
}

.i-maph-card-text{
    color: white;
}

.i-maph-pharmacies-slider {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .i-maph-pharmacy-card {
    flex: 0 0 auto; /* Prevent cards from shrinking */
    width: 300px;
    margin: 10px; /* Spacing between cards */
  }
  
  /* Optional: Customize the scrollbar for a better appearance */
  .i-maph-pharmacies-slider::-webkit-scrollbar {
    height: 8px; /* Customize scrollbar height */
  }
  
  .i-maph-pharmacies-slider::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #0cc0df, #ffde59 50%, #ffde59) !important;
    border-radius: 10px;
  }