.i-moph-modify-pharmacy {
    background-color: rgba(8, 15, 43, 1);
    min-height: 100vh;
    padding-bottom: 20px;
  }
  
  .i-moph-principal {
    min-height: 100vh;
  }
  
  .i-moph-div2 {
    background-color: rgba(8, 15, 43, 1);
    padding: 20px;
  }
  
  .i-moph-div3 {
    padding: 20px;
    background-color: rgba(8, 15, 43, 1);
  }
  
  .i-moph-imagen {
    max-width: 100%;
    height: auto;
  }
  
  .i-moph-form-control {
    background-color: rgb(27, 43, 107);
    color: white;
    border: 1px solid rgba(104, 104, 104, 0.2);
  }
  
  .i-moph-form-control:focus {
    background-color: rgba(15, 25, 55, 1);
    color: white;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
  }
  
  .i-moph-form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .i-moph-form-select {
    background-color: rgba(8, 15, 43, 1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
  }
  
  .i-moph-form-select:focus {
    background-color: rgba(15, 25, 55, 1);
    color: white;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
  }
  
  .i-moph-modify-pharmacy-button {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #0cc0df, #cb6ce6 50%, #7b2cbf) !important;
    cursor: pointer;
  }

  .i-moph-delete-pharmacy-button {
    width: 25%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #f7ff63, #ff914d 50%, #ff1a1a);
    cursor: pointer;
}