.i-moprg-modify-program {
  background-color: rgba(8, 15, 43, 1);
  min-height: 100vh;
  padding-bottom: 20px;
}

.i-moprg-principal {
  min-height: 100vh;
}

.i-moprg-div2 {
  background-color: rgba(8, 15, 43, 1);
  padding: 20px;
}

.i-moprg-div3 {
  padding: 20px;
  background-color: rgba(8, 15, 43, 1);
}

.i-moprg-cuadrado {
  background-color: #111A3D;
  padding: 15px;
  border-radius: 20px;
  margin-top: 15px;
}

.i-moprg-imagen {
  max-width: 100%;
  height: auto;
}

.i-moprg-form-control {
  background-color: rgb(27, 43, 107);
  color: white;
  border: 1px solid rgba(104, 104, 104, 0.2);
}

.i-moprg-form-control:focus {
  background-color: rgba(15, 25, 55, 1);
  color: white;
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: none;
}

.i-moprg-form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.i-moprg-form-select {
  background-color: rgb(27, 43, 107);
  color: white;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.i-moprg-form-select:focus {
  background-color: rgba(15, 25, 55, 1);
  color: white;
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: none;
}

.i-moprg-modify-program-button {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #8decb4, #38b6ff 50%, #004cff) !important;
  cursor: pointer;
}

.i-moprg-delete-program-button {
  width: 25%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #f7ff63, #ff914d 50%, #ff1a1a);
  cursor: pointer;
}


.i-moprg-card{
  position: relative;
  min-width: 7rem;
  max-width: 24rem;
  height: 15rem; 
  margin: 0.5rem;
  border-radius: 0.7rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #111A3D;
}

.i-moprg-card-body{
  background-color: rgba(20, 30, 70, 1);
  gap: 0.5rem;
  padding-left: 0.9rem;
  border-radius: 0.7rem; 
  padding-top: 0.8rem;
  padding-bottom: 0.1rem;
}

.i-moprg-card-title{
  font-size:2rem;
  color: rgba(255, 255, 255, 1);
}

.i-moprg-card-text{
  font-family: "League Spartan-Regular", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 1);
}

.i-moprg-pharmacies-slider {
  display: flex;
  overflow-x: auto;
  gap: -3rem;
}

.i-moprg-pharmacy-card {
  flex: 0 0 auto;
  width: 300px;
  margin: 10px;
}

.i-moprg-pharmacies-slider::-webkit-scrollbar {
  height: 8px;
}

.i-moprg-pharmacies-slider::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #0cc0df, #ffde59 50%, #ffde59) !important;
  border-radius: 10px;
}

.i-moprg-medications-slider::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #00ffc9, #ffaccf 50%, #ff5da2) !important;
  border-radius: 10px;
}

.i-moprg-modify-link {
  color: #ffffff;
  font-size: 1.5rem;
}

.i-moprg-text-area {
  background-color: rgb(27, 43, 107);
  color: white;
  border: 1px solid rgba(104, 104, 104, 0.2);
  height: 6rem;
  resize: none;
}

.i-moprg-text-area:focus {
  background-color: rgba(15, 25, 55, 1);
  color: white;
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: none;
}

.i-moprg-text-area::placeholder {
  color: rgba(255, 255, 255, 0.6);
}