.i-mopr-modify-product {
  background-color: rgba(8, 15, 43, 1);
  min-height: 100vh;
  padding-bottom: 20px;
}

.i-mopr-principal {
  min-height: 100vh;
}

.i-mopr-div2 {
  background-color: rgba(8, 15, 43, 1);
  padding: 20px;
}

.i-mopr-div3 {
  padding: 20px;
  background-color: rgba(8, 15, 43, 1);
}

.i-mopr-cuadrado {
  background-color: #111A3D;
  padding: 15px;
  border-radius: 20px;
  margin-top: 15px;
}

.i-mopr-imagen {
  max-width: 100%;
  height: auto;
}

.i-mopr-form-control {
  background-color: rgb(27, 43, 107);
  color: white;
  border: 1px solid rgba(104, 104, 104, 0.2);
}

.i-mopr-form-control:focus {
  background-color: rgba(15, 25, 55, 1);
  color: white;
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: none;
}

.i-mopr-form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.i-mopr-form-select {
  background-color: rgba(8, 15, 43, 1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.i-mopr-form-select:focus {
  background-color: rgba(15, 25, 55, 1);
  color: white;
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: none;
}

.i-mopr-modify-product-button {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #00ffc9, #ffaccf 50%, #ff5da2) !important;
  cursor: pointer;
}

.i-mopr-delete-product-button {
  width: 25%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #f7ff63, #ff914d 50%, #ff1a1a);
  cursor: pointer;
}

.i-mopr-name-label {
  color: white;
  font-size: 2rem;
}