body {
    background-color: #12152a;
    color: white;
    font-family: 'League Spartan', sans-serif;
  }
  
  .modify-container {
    width: 600px;
    margin: 0 auto; /* Quitar para enviar a la izquierda */
    padding: 20px;
    background-color: #12152a;
    border-radius: 10px;
    text-align: center;
  }
  
  .title-program {
    font-size: 30px;
    padding: 10px;
    background: linear-gradient(to right, #00ffc9, #ffaccf 50%, #ff5da2);
    color: #fff;
    border-radius: 10px;
  }
  
  .form-group {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px; /* space between label and search bar */
  }
  
  .form-group label {
    font-size: 14px;
    color: #aaa;
    margin: 0; /* removes extra margin to align better with search bar */
    white-space: nowrap; /* prevents label text from wrapping */
  }
  
  .search-bar {
    flex-grow: 1; /* allows search bar to take up remaining space */
    display: flex;
  }
  
  .search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #1b1e34;
    color: #ccc;
    border: none;
    border-radius: 5px 0 0 5px; /* rounded left corners */
  }
  
  .search-button {
    background: #1b1e34;
    border: none;
    color: #67d4e8;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 5px 5px 0; /* rounded right corners */
  }
  
  /* Styles for other form fields */
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #1b1e34;
    color: #ccc;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between; /* Place buttons on opposite sides */
    margin-top: 20px;
}

.modify-product-button {
    width: 25%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #00ffc9, #ffaccf 50%, #ff5da2);
    cursor: pointer;
}

.delete-product-button {
    width: 25%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #f7ff63, #ff914d 50%, #ff1a1a);
    cursor: pointer;
}