.i-reph-register-pharmacy {
  background-color: rgba(8, 15, 43, 1);
  min-height: 100vh;
  padding-bottom: 20px;
}

.i-reph-principal {
  min-height: 100vh;
}

.i-reph-div2 {
  background-color: rgba(8, 15, 43, 1);
  padding: 20px;
}

.i-reph-div3 {
  padding: 20px;
  background-color: rgba(8, 15, 43, 1);
}

.i-reph-imagen {
  max-width: 100%;
  height: auto;
}

/* Search bar styling */
.i-reph-form-control {
  background-color: rgb(27, 43, 107); /* Initial background color */
  color: white; /* Text color */
  border: 1px solid rgba(104, 104, 104, 0.2); /* Light border */
}

.i-reph-form-control:focus {
  background-color: rgba(15, 25, 55, 1); /* Lighter shade of blue on focus */
  color: white; /* Text color */
  border-color: rgba(255, 255, 255, 0.4); /* Lighter border on focus */
  box-shadow: none; /* Remove default box-shadow */
}

.i-reph-form-control::placeholder {
  color: rgba(255, 255, 255, 0.6); /* White placeholder text with opacity */
}

.i-reph-form-select {
  background-color: rgba(8, 15, 43, 1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.i-reph-form-select:focus {
  background-color: rgba(15, 25, 55, 1); /* Slightly lighter blue on focus */
  color: white; /* White text color */
  border-color: rgba(255, 255, 255, 0.4); /* Lighter border on focus */
  box-shadow: none; /* Remove default box-shadow */
}

.i-reph-create-pharmacy-button {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #0cc0df, #cb6ce6 50%, #7b2cbf) !important;
  cursor: pointer;
}
